:root {
    --colors-primary: #2B2D33;
    --colors-secondary: #9194A6;
    --colors-tertiary: #CFD1DB;
    --colors-neutral: #E9EAEF;
    --colors-white: #FFFFFF;
    --colors-background-secondary: #F4F5F8;
    --colors-orange: #F19938;
    --colors-green: #32B153;
    --colors-red: #E34446;
    --colors-light-blue: #007AFF;
    --colors-white-blue: rgba(255, 255, 255, 0.88)
}
